.main{
  flex:1;
  padding: 2em 0;
}

.content{
  display: flex;
  flex-wrap: row;
  justify-content: center;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .content{
    justify-content: flex-start;
  }
}