.profile-card{
  border: 2px solid grey;
  padding: 10px;
  margin: 10px 25px;
  background: black;
  justify-content: space-around;
  text-align: center;
}

.card{
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: row;

}

.profile-image{
  border: 2px solid grey;
  margin: 0 5px;
  width: 20vh;
}

.details{
  border: 2px solid grey;
  margin: 0 5px;
  padding: 0 5px;
  flex: 1 0 25%;
  background:black;
  color: white;
}
