.search-form{
  display: flex;
  padding: 10px; 
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

input[type="text"]{
  height: 2em;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0 0.5em;
  border: 2px solid grey;
  border-radius: 1em;
}

input[type="text"]:focus {
  outline: none;
}

button{
  border: 2px solid grey;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 1em;
  margin: 0 0.5em;
  padding: 1em;
  font-size: 1em;
}

button:focus {
  outline: none;
}

button:hover{
  border: 2px solid grey;
  color: black;
  background-color: white;
  font-weight: bold;
  border-radius: 1em;
  margin: 0 0.5em;
  padding: 1em;
  font-size: 1em;
}